<a href="https://colab.research.google.com/github/amukund8/AML/blob/main/BreastCancerPreprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('Breast_Cancer.csv')

In [ ]:
print(f'N rows={len(df)} M columns={len(df.columns)}')
print(df.dtypes)

N rows=4024 M columns=16
Age                        int64
Race                      object
Marital Status            object
T Stage                   object
N Stage                   object
6th Stage                 object
differentiate             object
Grade                     object
A Stage                   object
Tumor Size                 int64
Estrogen Status           object
Progesterone Status       object
Regional Node Examined     int64
Reginol Node Positive      int64
Survival Months            int64
Status                    object
dtype: object

In [ ]:
# Check for duplicates, this adds a new column to the dataset
df["is_duplicate"]= df.duplicated()


print(f"#total= {len(df)}")
print(f"#duplicated= {len(df[df['is_duplicate']==True])}")

#total= 4024
#duplicated= 1

In [ ]:
# Drop the duplicate rows using index - best way to drop in pandas
index_to_drop = df[df['is_duplicate']==True].index
df.drop(index_to_drop, inplace=True)


df.drop(columns='is_duplicate', inplace=True)
print(f'#total= {len(df)}')

#total= 4023

In [ ]:
# Do we have NaN in our dataset?
df.isnull().any()

Age                       False
Race                      False
Marital Status            False
T Stage                   False
N Stage                   False
6th Stage                 False
differentiate             False
Grade                     False
A Stage                   False
Tumor Size                False
Estrogen Status           False
Progesterone Status       False
Regional Node Examined    False
Reginol Node Positive     False
Survival Months           False
Status                    False
dtype: bool

Missing Nominal Values

In [ ]:
# Check unique levels and see any marker is used for a missing level
for col in df.columns:
    if df[col].dtype == object:
        print(col, df[col].unique())

Race ['White' 'Black' 'Other']
Marital Status ['Married' 'Divorced' 'Single ' 'Widowed' 'Separated']
T Stage  ['T1' 'T2' 'T3' 'T4']
N Stage ['N1' 'N2' 'N3']
6th Stage ['IIA' 'IIIA' 'IIIC' 'IIB' 'IIIB']
differentiate ['Poorly differentiated' 'Moderately differentiated' 'Well differentiated'
 'Undifferentiated']
Grade ['3' '2' '1' ' anaplastic; Grade IV']
A Stage ['Regional' 'Distant']
Estrogen Status ['Positive' 'Negative']
Progesterone Status ['Positive' 'Negative']
Status ['Alive' 'Dead']

In [ ]:
df['Grade'].replace(' anaplastic; Grade IV','4',inplace=True)

In [ ]:
# Check unique levels and see any marker is used for a missing level
for col in df.columns:
    if df[col].dtype == object:
        print(col, df[col].unique())

Race ['White' 'Black' 'Other']
Marital Status ['Married' 'Divorced' 'Single ' 'Widowed' 'Separated']
T Stage  ['T1' 'T2' 'T3' 'T4']
N Stage ['N1' 'N2' 'N3']
6th Stage ['IIA' 'IIIA' 'IIIC' 'IIB' 'IIIB']
differentiate ['Poorly differentiated' 'Moderately differentiated' 'Well differentiated'
 'Undifferentiated']
Grade ['3' '2' '1' '4']
A Stage ['Regional' 'Distant']
Estrogen Status ['Positive' 'Negative']
Progesterone Status ['Positive' 'Negative']
Status ['Alive' 'Dead']

In [ ]:
df['Grade']=df['Grade'].astype(int)

In [ ]:
# Check unique levels and see any marker is used for a missing level
for col in df.columns:
    if df[col].dtype == object:
        print(col, df[col].unique())

Race ['White' 'Black' 'Other']
Marital Status ['Married' 'Divorced' 'Single ' 'Widowed' 'Separated']
T Stage  ['T1' 'T2' 'T3' 'T4']
N Stage ['N1' 'N2' 'N3']
6th Stage ['IIA' 'IIIA' 'IIIC' 'IIB' 'IIIB']
differentiate ['Poorly differentiated' 'Moderately differentiated' 'Well differentiated'
 'Undifferentiated']
A Stage ['Regional' 'Distant']
Estrogen Status ['Positive' 'Negative']
Progesterone Status ['Positive' 'Negative']
Status ['Alive' 'Dead']

In [ ]:
for col in df.columns:

  print(df[col].dtype,col, df[col].unique())

int64 Age [68 50 58 47 51 40 69 46 65 48 62 61 56 43 60 57 55 63 66 53 59 54 49 64
 42 37 67 31 52 33 45 38 39 36 41 44 32 34 35 30]
object Race ['White' 'Black' 'Other']
object Marital Status ['Married' 'Divorced' 'Single ' 'Widowed' 'Separated']
object T Stage  ['T1' 'T2' 'T3' 'T4']
object N Stage ['N1' 'N2' 'N3']
object 6th Stage ['IIA' 'IIIA' 'IIIC' 'IIB' 'IIIB']
object differentiate ['Poorly differentiated' 'Moderately differentiated' 'Well differentiated'
 'Undifferentiated']
int64 Grade [3 2 1 4]
object A Stage ['Regional' 'Distant']
int64 Tumor Size [  4  35  63  18  41  20   8  30 103  32  13  59  15  19  46  24  25  29
  40  70  22  50  17  21  10  27  23   5  51   9  55 120  77   2  11  12
  26  75 130  34  80   3  60  14  16  45  36  76  38  49   7  72 100  43
  62  37  68  52  85  57  39  28  48 110  65   6 105 140  42  31  90 108
  98  47  54  61  74  33   1  87  81  58 117  44 123 133  95 107  92  69
  56  82  66  78  97  88  53  83 101  84 115  73 125 104  94  86  64  96
  79  67]
object Estrogen Status ['Positive' 'Negative']
object Progesterone Status ['Positive' 'Negative']
int64 Regional Node Examined [24 14  2  3 18 11  9 20 21 13 23 16  1 22 15  4 26 31 25 10  5  6 19 12
  8 17  7 49 33 30 34 28 32 27 42 29 41 39 46 40 51 44 38 47 54 36 61 37
 35 43 52 45 57 60]
int64 Reginol Node Positive [ 1  5  7  2 18 12  3 14 22 17 23  4 10  6  9  8 20 16 13 11 24 27 21 26
 15 28 19 29 31 46 33 37 30 35 25 32 41 34]
int64 Survival Months [ 60  62  75  84  50  89  54  14  70  92  64  56  38  49 105 107  77  81
  78 102  98  82  86  52  90  31  37 103  42  61  63  39  59  71  74  73
  91 106  80  44  85  79 104  12  95  55 101  65  72  57  87  40  25   8
  53  58  24  66  69  93  94 100  96  41  67  51  13  11  47  23  45  68
  76  15  16  99   7  48  88  34  97  83  17   3  22  30   6  32   9   5
  10  19  18  35  27  36   4  29  33  26  20  28  43   1  46  21   2]
object Status ['Alive' 'Dead']

In [ ]:
df.to_csv('BreastCancer.csv', index=False)

In [ ]:
max=[]
min=[]
std=[]
avg=[]
mode=[]
categories=[]

for column in df.columns:
  if df[column].dtype=='int64':
    max_val=df[column].max()
    max.append(max_val)
    min_val=df[column].min()
    min.append(min_val)
    std.append(df[column].std())
    avg.append(df[column].mean())
    mode.append(df[column].value_counts().index[0])
    categories.append(df[column].unique())


  else:
    max.append('Nominal Categorical Variable')
    min.append('Nominal Categorical Variable')
    std.append('Nominal Categorical Variable')
    avg.append('Nominal Categorical Variable')
    mode.append(df[column].value_counts().index[0])
    categories.append(df[column].unique())

In [ ]:
print(len(min),len(max),len(std),len(avg),len(mode))

16 16 16 16 16

In [ ]:
datatypes=[]
for column in df.columns:
  if df[column].dtype=='int64':
    datatypes.append('Quantitative Interval')
  else:
    datatypes.append('Nominal Categorical')
print(len(datatypes))

16

In [ ]:
b=pd.DataFrame({'Variable':df.columns,'Datatype':datatypes,'Minimum Value':min,'Maximum Value':max,'Standard Deviation':std,'Mean':avg,'Mode':mode,'Categories':categories})

In [ ]:
b

,Variable,Datatype,Minimum Value,Maximum Value,Standard Deviation,Mean,Mode,Categories
0,Age,Quantitative Interval,30,69,8.963118,53.969923,46,"[68, 50, 58, 47, 51, 40, 69, 46, 65, 48, 62, 6..."
1,Race,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,White,"[White, Black, Other]"
2,Marital Status,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Married,"[Married, Divorced, Single , Widowed, Separated]"
3,T Stage,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,T2,"[T1, T2, T3, T4]"
4,N Stage,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,N1,"[N1, N2, N3]"
5,6th Stage,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,IIA,"[IIA, IIIA, IIIC, IIB, IIIB]"
6,differentiate,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Moderately differentiated,"[Poorly differentiated, Moderately differentia..."
7,Grade,Quantitative Interval,1,4,0.638309,2.150634,2,"[3, 2, 1, 4]"
8,A Stage,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Regional,"[Regional, Distant]"
9,Tumor Size,Quantitative Interval,1,140,21.121253,30.477007,15,"[4, 35, 63, 18, 41, 20, 8, 30, 103, 32, 13, 59..."
10,Estrogen Status,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Positive,"[Positive, Negative]"
11,Progesterone Status,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Positive,"[Positive, Negative]"
12,Regional Node Examined,Quantitative Interval,1,61,8.100241,14.358439,13,"[24, 14, 2, 3, 18, 11, 9, 20, 21, 13, 23, 16, ..."
13,Reginol Node Positive,Quantitative Interval,1,46,5.109724,4.158837,1,"[1, 5, 7, 2, 18, 12, 3, 14, 22, 17, 23, 4, 10,..."
14,Survival Months,Quantitative Interval,1,107,22.923009,71.301765,69,"[60, 62, 75, 84, 50, 89, 54, 14, 70, 92, 64, 5..."
15,Status,Nominal Categorical,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Nominal Categorical Variable,Alive,"[Alive, Dead]"

In [ ]:
b.to_csv('breastcancerdescription.csv')